*{
    font-family: 'Mooli', sans-serif;
}

.encabezado{
    background-color: #FF6D1F;
}

.container{
    padding: 1rem;
}

.titulo{
    text-align: center;
}

.social-message {
    color:black;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: black;
}

.social-message .titulo {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    line-height: 1.25rem;
    color:black;
}

.separador{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgb(255,107,0);
    background: linear-gradient(0deg,  rgba(255,233,35,1) 0%, rgba(255,168,17,1) 47%, rgba(255,107,0,1) 93%);

    border-radius: 35% 20rem;

    border-start-start-radius: 35% 20rem;
    border-end-start-radius: 35% 20rem;

    border-start-end-radius: 35% 20rem;
    border-end-end-radius: 35% 20rem;
}

.botones{
    text-align: center;
    margin: 1rem;
    border-radius: 30% 1rem;
}

.imagen1{
    margin-left: 1rem;
    margin-top: 1rem;
}

.imagen2{
    margin-right: 1rem;
}

.pie{
    background-color: #FF6D1F;
}