*{
    font-family: 'Mooli', sans-serif;
}

.encabezado{
    background-color: #FF6D1F;
}

.container{
    padding: 1rem;
}

.titulo{
    text-align: center;
}

.social-message {
    color:black;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: black;
}

.social-message .titulo {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    line-height: 1.25rem;
    color:black;
}

.separador{
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background: rgb(117,255,71);
    background: linear-gradient(0deg, rgba(237,252,232,1) 0%, rgba(187,255,165,1) 47%, rgba(117,255,71,1) 93%);
    border-radius: 35% 20rem;

    border-start-start-radius: 35% 20rem;
    border-end-start-radius: 35% 20rem;

    border-start-end-radius: 35% 20rem;
    border-end-end-radius: 35% 20rem;
}

.imagenesnosotros{
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.imagenespagos{
    margin-right: 2rem;
    margin-top: 1rem;
}

.pie{
    background-color: #FF6D1F;
}